{% extends 'partials/base.html' %}

{% block title %}
    <title>Appropos</title>
{% endblock %}


{% block content %}

    <h1 class="h1 text-center">Appropos</h1>

    <div class="container">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam repellat vero quaerat? Earum nam velit magnam! Iure odit neque recusandae qui eveniet earum corrupti velit. Numquam voluptas maiores eius nobis?
            Quisquam vero inventore porro voluptates quod unde in ipsam sapiente. Culpa, eaque. Omnis odio perferendis enim, maxime voluptas odit! Harum eveniet in excepturi nihil recusandae officiis beatae eligendi aliquid deserunt?
            Eos eaque aperiam dolor debitis optio, est voluptatem mollitia ipsam minus alias, at, asperiores ratione officia accusamus ex cupiditate distinctio quod explicabo repellat odio corporis consequatur pariatur numquam praesentium! Molestiae.
        </p>
    
    </div>
{% endblock %}