{% extends 'partials/base.html' %}

{% block title %}
    <title>Connexion</title>
{% endblock %}

{% block content %}

    <h1 style="text-align:center;">Authentification</h1>

    <form action="{% url 'connexion' %}" method="post" class="form-user">
        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder="Votre nom">
        </div> 
        
        <br>
        
        <div>
            <input type="password" name="password" placeholder="Votre mot de passe">
        </div>
        <input type="submit" value="Se connecter">
    </form>

{% endblock %}